**Пример решения задачи регрессии на примере датасета Boston**

In [0]:
#загружаем данные
from sklearn.datasets import load_boston
boston = load_boston()

In [0]:
type(boston)

sklearn.utils.Bunch

In [0]:
dir(boston)

['DESCR', 'data', 'feature_names', 'filename', 'target']

In [0]:
print(boston.filename)

/usr/local/lib/python3.6/dist-packages/sklearn/datasets/data/boston_house_prices.csv

In [0]:
#инфрмация о данных
print(boston.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [0]:
# названия фитчей
print(boston.feature_names)

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [0]:
import pandas as pd
import numpy as np
names = list(boston.feature_names)
names.append('MEDV')
data = pd.DataFrame(data=np.c_[boston.data, boston.target], columns=names )

In [0]:
#вид данных
data.head(10)

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2
5  0.02985   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.12   5.21  28.7
6  0.08829  12.5   7.87   0.0  0.524  ...  311.0     15.2  395.60  12.43  22.9
7  0.14455  12.5   7.87   0.0  0.524  ...  311.0     15.2  396.90  19.15  27.1
8  0.21124  12.5   7.87   0.0  0.524  ...  311.0     15.2  386.63  29.93  16.5
9  0.17004  12.5   7.87   0.0  0.524  ...  311.0     15.2  386.71  17.10  18.9

[10 rows x 14 columns]

In [0]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null float64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null float64
TAX        506 non-null float64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
MEDV       506 non-null float64
dtypes: float64(14)
memory usage: 55.5 KB

In [0]:
# Делим данные на данные для обучения и для тестирования
y = data['MEDV']
del data['MEDV']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=0.25, random_state=42)

In [0]:
X_train

         CRIM    ZN  INDUS  CHAS     NOX  ...   RAD    TAX  PTRATIO       B  LSTAT
182   0.09103   0.0   2.46   0.0  0.4880  ...   3.0  193.0     17.8  394.12   4.82
155   3.53501   0.0  19.58   1.0  0.8710  ...   5.0  403.0     14.7   88.01  15.02
280   0.03578  20.0   3.33   0.0  0.4429  ...   5.0  216.0     14.9  387.31   3.76
126   0.38735   0.0  25.65   0.0  0.5810  ...   2.0  188.0     19.1  359.29  27.26
329   0.06724   0.0   3.24   0.0  0.4600  ...   4.0  430.0     16.9  375.21   7.34
..        ...   ...    ...   ...     ...  ...   ...    ...      ...     ...    ...
106   0.17120   0.0   8.56   0.0  0.5200  ...   5.0  384.0     20.9  395.67  18.66
270   0.29916  20.0   6.96   0.0  0.4640  ...   3.0  223.0     18.6  388.65  13.00
348   0.01501  80.0   2.01   0.0  0.4350  ...   4.0  280.0     17.0  390.94   5.99
435  11.16040   0.0  18.10   0.0  0.7400  ...  24.0  666.0     20.2  109.85  23.27
102   0.22876   0.0   8.56   0.0  0.5200  ...   5.0  384.0     20.9   70.80  10.63

[379 rows x 13 columns]

In [0]:
# Нормировка данных
# Выведем значения средних арифметических и отклонений по столбцам
column_names = list(X_train.columns.values)
for name in column_names:
  print(f'{name}: {X_train[name].mean()}, {X_train[name].std()}')

CRIM: 3.468654749340372, 8.313982764963791
ZN: 11.596306068601583, 23.093394164644643
INDUS: 11.1199736147757, 6.953400808491823
CHAS: 0.07651715039577836, 0.26617515535718916
NOX: 0.5583263852242749, 0.11911783632860289
RM: 6.32349604221636, 0.7200860889597821
AGE: 69.1472295514512, 27.703148856944473
DIS: 3.763439841688657, 2.112633036998358
RAD: 9.361477572559366, 8.601322276310226
TAX: 405.311345646438, 166.060463116957
PTRATIO: 18.263852242744015, 2.263954245268855
B: 358.76712401055346, 87.51186715542953
LSTAT: 12.5132981530343, 7.147689895304706

In [0]:
# От каждого значения отнимается среднее арифметическое и делится на стандартное отклонение всех значений признака
for name in column_names:
  mean = X_train[name].mean()
  std = X_train[name].std()
  X_train[name] = (X_train[name] - mean)/ std
  X_test[name] = (X_test[name] - mean)/ std

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [0]:
# данные после нормировки
X_train

         CRIM        ZN     INDUS  ...   PTRATIO         B     LSTAT
182 -0.406258 -0.502148 -1.245430  ... -0.204886  0.403978 -1.076334
155  0.007981 -0.502148  1.216675  ... -1.574171 -3.093948  0.350701
280 -0.412904  0.363900 -1.120311  ... -1.485830  0.326160 -1.224633
126 -0.370617 -0.502148  2.089629  ...  0.369331  0.005975  2.063142
329 -0.409120 -0.502148 -1.133255  ... -0.602420  0.187893 -0.723772
..        ...       ...       ...  ...       ...       ...       ...
106 -0.396616 -0.502148 -0.368161  ...  1.164400  0.421690  0.859956
270 -0.381225  0.363900 -0.598265  ...  0.148478  0.341472  0.068092
348 -0.415402  2.962046 -1.310146  ... -0.558250  0.367640 -0.912644
435  0.925158 -0.502148  1.003829  ...  0.855206 -2.844381  1.504920
102 -0.389692 -0.502148 -0.368161  ...  1.164400 -3.290607 -0.263483

[379 rows x 13 columns]

In [0]:
X_test

         CRIM        ZN     INDUS  ...   PTRATIO         B     LSTAT
173 -0.406168 -0.502148 -1.016765  ... -0.734932  0.419747 -0.485933
274 -0.410419  1.229949 -0.677363  ... -0.293227  0.435745 -1.256811
491 -0.404489 -0.502148  2.390201  ...  0.811036  0.358156  0.777412
72  -0.406185 -0.502148 -0.044579  ...  0.413501  0.367297 -0.978400
452  0.195035 -0.502148  1.003829  ...  0.855206  0.300792  0.665488
..        ...       ...       ...  ...       ...       ...       ...
418  8.427422 -0.502148  1.003829  ...  0.855206 -3.911665  1.134171
117 -0.399048 -0.502148 -0.159630  ... -0.204886  0.408435 -0.309652
42  -0.400188 -0.502148 -0.605455  ... -0.160715  0.281138 -0.937827
322 -0.374972 -0.502148 -0.537863  ...  0.590183  0.435745 -0.673406
347 -0.414958  3.178558 -1.002383  ... -0.160715  0.384666 -0.860879

[127 rows x 13 columns]

Начинаем строить модель линейной регрессии

In [0]:
from sklearn.linear_model import LinearRegression
lin_regr = LinearRegression()
lin_regr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
predict = lin_regr.predict(X_test)

In [0]:
predict[:10]

array([28.83885359, 36.00783288, 15.08324755, 25.23090886, 18.87864064,
       23.21398327, 17.5931124 , 14.30508093, 23.05438985, 20.62008346])

In [0]:
y_test[:10]

173    23.6
274    32.4
491    13.6
72     22.8
452    16.1
76     20.0
316    17.8
140    14.0
471    19.6
500    16.8
Name: MEDV, dtype: float64

Как понять, что модель работает хорошо?

In [0]:
from sklearn.metrics import mean_squared_error
error = mean_squared_error(y_test, predict)

In [0]:
print(error)

22.09869482709799

Строим наивную модель

In [0]:
predict_n = [y_train.mean() for x in range (len(y_train))]
print(predict_n)

[22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323, 22.907915567282323]

In [0]:
error = mean_squared_error(y_train, predict_n)

In [0]:
print(error)

88.68173153904524

Построим еще одну линейную модель

In [0]:
from sklearn.linear_model import RidgeCV

ridg = RidgeCV(alphas=[ 0.001,  0.01 , 100 ])
ridg.fit(X_train, y_train)

RidgeCV(alphas=array([1.e-03, 1.e-02, 1.e+02]), cv=None, fit_intercept=True,
        gcv_mode=None, normalize=False, scoring=None, store_cv_values=False)

In [0]:
predict_ridg = ridg.predict(X_train)
error = mean_squared_error(y_train, predict_ridg)
print(error)

22.340058141147207

### Прикрутим нейронную сеть

In [0]:
from keras.models import Sequential
from keras.layers.core import Dense, Activation

model = Sequential()

model.add( Dense(64,input_shape=(13,)))
model.add(Activation('sigmoid'))
model.add(Dense(32))
model.add(Activation('sigmoid'))
model.add(Dense(1))
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 64)                896
_________________________________________________________________
activation_2 (Activation)    (None, 64)                0
_________________________________________________________________
dense_4 (Dense)              (None, 32)                2080
_________________________________________________________________
activation_3 (Activation)    (None, 32)                0
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 33
=================================================================
Total params: 3,009
Trainable params: 3,009
Non-trainable params: 0
_________________________________________________________________

In [0]:
from keras.optimizers import Adam

model.compile(loss='mean_squared_error',
              optimizer=Adam(), 
              metrics=['mae'])

In [0]:
model.fit(X_train, y_train, batch_size=5, epochs=5)

Epoch 1/5
379/379 [==============================] - 0s 337us/step - loss: 25.3268 - mean_absolute_error: 3.2342
Epoch 2/5
379/379 [==============================] - 0s 321us/step - loss: 24.4790 - mean_absolute_error: 3.2135
Epoch 3/5
379/379 [==============================] - 0s 364us/step - loss: 23.6319 - mean_absolute_error: 3.1230
Epoch 4/5
379/379 [==============================] - 0s 328us/step - loss: 23.0285 - mean_absolute_error: 3.0980
Epoch 5/5
379/379 [==============================] - 0s 337us/step - loss: 22.2591 - mean_absolute_error: 3.0759

In [0]:
y_nn = model.predict(X_test)

In [0]:
y_nn[:20]

array([[26.819849],
       [32.014297],
       [15.796987],
       [23.807493],
       [15.612715],
       [21.333563],
       [18.506968],
       [14.220138],
       [24.037855],
       [19.668047],
       [20.21261 ],
       [19.417229],
       [ 8.83879 ],
       [20.879665],
       [20.080233],
       [29.8969  ],
       [18.214224],
       [10.476289],
       [33.889656],
       [14.101839]], dtype=float32)

In [0]:
from sklearn.metrics import mean_squared_error
error = mean_squared_error(y_test, y_nn)
print(error)

20.41304467975796